body {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 13px;
}

table, th, td {
  border: 4px solid limegreen;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* mouse over link */
a:hover {
  color: limegreen;
  text-decoration: none;
  font-size: 16px;
}

/* selected link */
a:active {
  color: hotpink;
  text-decoration: none;
  font-size: 16px;
}
